<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="container">
    <div class="form-row col-sm col-sm-6 pt-3" style="margin-left: auto;margin-right: auto;">
        <h3 class="text-center" *ngIf="mantenimientoId==0">Nuevo Mantenimiento</h3>
        <h3 class="text-center" *ngIf="mantenimientoId>0">Editar Mantenimiento</h3>

        <form novalidate (ngSubmit)="guardar()" [formGroup]="formulario">


        <div class="form-group">
            <label >Fecha</label>
            <input class="form-control" name="fecha" formControlName="fecha" type="date">  
            <span *ngIf="formulario.invalid && (formulario.dirty || formulario.touched)"  class="text-danger" >El campo es requerido</span>  
        </div>

        <div class="form-group">
            <label >Base</label>
            <select class="form-control" name="baseId" formControlName="baseId">
                <option value="">Seleccione</option>
                <option *ngFor="let base of listaBases;"  value="{{base.baseId}}">{{base.nombre}} {{base.ciudad}}</option>
            </select>
            <span *ngIf="formulario.invalid && (formulario.dirty || formulario.touched)"  class="text-danger" >El campo es requerido</span>
        </div>
        <div class="form-group">
            <label >Avion</label>
            <select class="form-control" name="avionId" formControlName="avionId">
                <option value="">Seleccione</option>
                <option *ngFor="let avion of listaAviones;" value="{{avion.avionId}}">{{avion.codigo}} {{avion.marca}} {{avion.modelo}}</option>
            </select>
            <span *ngIf="formulario.invalid && (formulario.dirty || formulario.touched)"  class="text-danger" >El campo es requerido</span>
        </div>

        <div class="form-group">
            <label >Detalle</label>
            <textarea class="form-control" name="detalle" formControlName="detalle" type="datetime-local"></textarea>  
            <span *ngIf="formulario.invalid && (formulario.dirty || formulario.touched)"  class="text-danger" >El campo es requerido</span>  
        </div>


        <div class="text-center pt-3">
            <div class="form-group">
                <button type="submit" class="btn btn-primary m-1" [disabled]="!formulario.valid">Guardar</button>
                <button class="btn btn-secondary" [routerLink]="['/mantenimientos']">Cancelar</button>
              </div>
        </div>
        </form>
    </div>


</body>
</html>
